<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Achievements</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="body">
    <br />
    <div class="achievementsdiv">
      <text class="optionstext"> ACHIEVEMENTS </text>

      <form action="/regestration">
        <button type="submit" class="achievementsbutton2">ACHIEVEMENT 1</button>
      </form>

      <form action="/players">
        <button type="submit" class="achievementsbutton2">ACHIEVEMENT 2</button>
      </form>

      <form action="/players">
        <button type="submit" class="achievementsbutton2">ACHIEVEMENT 3</button>
      </form>

      <form action="/players">
        <button type="submit" class="achievementsbutton2">ACHIEVEMENT 4</button>
      </form>
      <br />
      <form action="/users/signup">
        <button class="backach">BACK</button>
      </form>
    </div>
  </body>
</html>
