<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DECRIBE</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="body">
    <br />
    <div class="divlight">
      <text class="darktext"> DESCRIBE YOUR CARD </text>
      <textarea class="describetextarea"></textarea>
      <img src="images/card.png" class="describecarddiv"></img>
      <br />
      <form action="/users/signup">
        <button class="backdes">SUBMIT</button>
      </form>
    </div>
  </body>
</html>
