<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <div class="logo">DIXIT</div>
    <form action="/options">
      <button type="submit" class="playbutton">PLAY</button>
    </form>

    <div class="bottombuttons">
      <button class="userbutton">user</button>
      <button class="achievementsbutton">ach</button>
    </div>

    <!-- <li><a href="/users/signup">Sign up!!</a></li>
    <li><a href="/users/login">Login </a></li> -->
  </body>
</html>
