<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="logo">
<img src="https://assets.asmodee.ca/fichiers/Libellud/Dixit/1.Dixit%20-%20Base/Dixit-title.png" height="250px"
                    />    </div>
    <form action="/options">
      <!-- <form action="/results"> -->
      <button type="submit" class="playbutton">PLAY</button>
    </form>

    <div class="bottombuttons" style="display: flex;justify-content: space-around;">
      <button class="achievementsbutton" ><a style="text-decoration: none;color: beige;" href="/users/profile/<%- _id %>"  ><img src="https://www.shareicon.net/data/512x512/2016/09/01/822712_user_512x512.png" height="40px"
                    /></a></button>
      <button class="achievementsbutton" style="opacity: 0.5;" disabled>ach</button>
    </div>
  </body>
</html>
