<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Options</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="optionsdiv">
      <text class="optionstext"> SELECT GAME OPTIONS</text>
      <br />

      <form action="/players">
        <button type="submit" class="offlinebutton">OFFLINE</button>
      </form>
      <br />

      <button class="onlinebutton"  style="opacity: 0.5;" >ONLINE</button>
    </div>
  </body>
</html>
