<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Options</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="optionsdiv">
      <text class="optionstext"> SELECT NO. OF PLAYERS</text>
      <br />

      <form >
        <button class="playerbutton"  style="opacity: 0.5;" >THREE</button>
      </form>
      <br />

      <form >
        <button type="submit" class="playerbutton" style="opacity: 0.5;" >FOUR</button>
      </form>
      <br />

      <form action="/playersonline">
        <button type="submit" class="playerbutton abs"  >FIVE</button>
      </form>
      <br />

      <form >
        <button type="submit" class="playerbutton" style="opacity: 0.5;" >SIX</button>
      </form>
      <br />
    </div>
  </body>
</html>
