<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Options</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <div class="optionsdiv">
      <text class="optionstext"> SELECT NO. OF PLAYERS</text>
      <br />

      <form action="/regestration">
        <button type="submit" class="playerbutton">THREE</button>
      </form>
      <br />

      <form action="/players">
        <button type="submit" class="playerbutton">FOUR</button>
      </form>
      <br />

      <form action="/players">
        <button type="submit" class="playerbutton">FIVE</button>
      </form>
      <br />

      <form action="/players">
        <button type="submit" class="playerbutton">SIX</button>
      </form>
      <br />
    </div>
  </body>
</html>
