<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="body">
    <br />
    <div class="regestrationdiv">
      <text class="optionstext"> LOGO HERE </text>
      <br />
      <br />
      <br />
      <text class="smalltext"> NAME :  </text>
      <br />
      <text class="smalltext"> <%- name %> </text>
      <br />
      <br />
      <text class="smalltext"> EMAIL : </text>
      <br />
      <text class="smalltext"> <%- email %> </text>
      <br />

        <a href="/users/backIndex/<%- _id %>">Bak</a>
    </div>
  </body>
</html>
