<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Options</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body>
    <div class="regestrationdiv">
      <text class="optionstext"> LOGIN OR SIGNUP ! </text>
      <br />

      <form action="/users/signup">
        <button type="submit" class="offlinebutton">SIGNUP</button>
      </form>
      <br />
      <form action="/users/login">
        <button class="onlinebutton">SIGN IN</button>
      </form>
    </div>
  </body>
</html>
