<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>signup form</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body class="body">
    <div class="regestrationdiv">

      <text class="optionstext"> PLAYER SIGN UP </text>
      <form class="myform" action="/users/signup" method="POST">
        <input class="inputfields" type="text" name="username" placeholder="username" />
        </br>   </br>   
        <input class="inputfields" type="text" name="email" placeholder="email" />
      </br>
        </br>
        <input class="inputfields" type="password" name="password" placeholder="password" />
              </br>   </br>
        <button class="btn">Submit</button>
      </form>
    </div>
  </body>
</html>
