<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Win Screen</title>
    <link rel="stylesheet" href="stylesheets/style.css" />
  </head>
  <body class="body">
    <br />
    <div class="regestrationdiv">
      <br />

      <text class="optionstext"> CONGRATULATIONS ! </text>
      <br />
      <br />
      <br />

      <text class="optionstext"> YOU WIN ! </text>
      <br />

      <form action="/users/signup">
        <button class="offlinebutton">Continue</button>
      </form>
    </div>
  </body>
</html>
